@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
body {
    background-image: url(17.jpg);
    font-family: "Potta One", cursive;
    color: #412a80;
}

.include {
    margin-top: 80px;
    float: left;
    width: 40%;
    font-size: 30px;
}

table {
    border-spacing: 0px 0px;
}

td {
    border: 1px double black;
    width: 100px;
    border-collapse: 0;
    padding: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(241, 241, 241, 1) 50%,
        rgba(225, 225, 225, 1) 51%,
        rgba(246, 246, 246, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

.form {
    float: left;
    width: 30%;
    margin: 50px 0px 0px 400px;
}

.form input,
button {
    border-radius: 5px;
    outline: none;
    width: 250px;
    height: 25px;
    background: rgb(255, 255, 255); /* Old browsers */
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(241, 241, 241, 1) 50%,
        rgba(225, 225, 225, 1) 51%,
        rgba(246, 246, 246, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
    font-size: 20px;
}

.form textarea {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(241, 241, 241, 1) 50%,
        rgba(225, 225, 225, 1) 51%,
        rgba(246, 246, 246, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
    color: #412a80;
    font-size: 20px;
}

.form button {
    color: #412a80;
    font-family: "Potta One", cursive;
    padding-bottom: 40px;
    width: 260px;
}

p {
    font-size: 20px;
}
